<template>
	<div class="d-flex flex-column align-items-center mt-5">
		<label for="location">Votre ville</label>
		<div class="input-group input-group-lg col-xl-6 col-lg-6 col-md-6 col-sm-10">
			<input class="form-control mb-2" v-model="value" type="search" id="location" name="location" placeholder="Toulouse" v-on:keypress.enter="getCities">
		</div>
		<input class="btn btn-lg btn-info" type="button" value="Rechercher ma ville" @click="getCities">
		<div class="mt-3">
			<div v-if="typeof citySearchResults === 'string'">
				<p>{{ citySearchResults }}</p>
			</div>
			<div v-else-if="typeof citySearchResults === 'object' && citySearchResults.length > 0">
				<p class="text-center">Cliquez ensuite sur votre ville pour obtenir la météo locale</p>
				<div class="text-center">
					<ul>
						<li class="mb-2" v-for="city in citySearchResults" :key="city.latitude"><a class="btn btn-success" v-bind:href="'http://www.localhost:8000/weather/'+city.name+'/'+city.latitude+'/'+city.longitude">{{ city.name }}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		props: {
		
		},
		data() {
			return {
				citySearchResults: {},
				value: "",
			}
		},
		methods: {
			getCities: async function() {
				const choices = await fetch('http://nominatim.openstreetmap.org/search?city='+this.value+'&format=json', {
					method: 'GET',
					mode: 'cors'
				})
				let citiesArray = await choices.json();

				this.citySearchResults = citiesArray.map((city) => {
					return {"name": city.display_name, "latitude": city.lat, "longitude": city.lon};
				});
				if (this.citySearchResults.length < 1) {
					this.citySearchResults = "Mmh c'est dommage, aucune ville ne correspond à votre recherche";
				}
			}
		}
	}
</script>