body {
	font-family: Roboto, Arial, sans-serif;
	font-size: 1.5em;
	line-height: 1.7em;
	background-color: lightgray;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}

main {
	max-width: 80%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1 {
	font-weight: bold;
}

.jumbotron {
	background-image: url("https://cdn.pixabay.com/photo/2017/09/10/11/00/header-2735173_960_720.jpg");
	background-size: cover;
}

.home-link {
	padding: 5px;
	color: black;
	text-decoration: none;

}

.home-link:hover, .home-link:focus  {
	box-shadow: 0 0 50px 0 black;
	color: #003772;
}

#location {
    border-radius: 0.7em;
    border: 1px solid #336EFF;
}

#location:focus {
    box-shadow: 0px 0px 0px 2px #336EFF;
}

.big-text {
	font-size: 	1.5em;
}