<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1><a class="home-link" href="/">Another Incredible Weather App</a></h1>
            </div>
        </header>
        <main class="mx-auto">
        {% block body %}{% endblock %}
        </main>
        {% block javascripts %}
					{{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>