{% extends 'base.html.twig' %}

{% block title %}
    404, page not found
{% endblock %}

{% block body %}

    <h2 class="text-danger text-center">Erreur 404</h2>
		<h3 class="text-center">Désolé, cette page n'existe pas, souhaitez-vous <a href="/">retourner à l'accueil</a> ?</h3>
{% endblock %}
