{% extends 'base.html.twig' %}

{% block title %}
    Something wrong just happened...
{% endblock %}

{% block body %}

    <h2 class="text-danger text-center">Erreur</h2>
		<h3 class="text-center">Désolé, une vilaine erreur nous empêche de vous montrer la météo : {{ data }}</h3>
		<h4 class="text-center mb-5">Rafraîchissez la page pour tenter d'accéder à nouveau à la météo actuelle</h4>
		<div class="text-center">
			<p>Si l'erreur persiste, veuillez-nous en excuser.</p>
			<p>Nous nous occupons du problème, revenez nous voir bientôt ou <a href="/">cliquez ici pour retourner à l'accueil</a> !</p>
		</div>

{% endblock %}
