{% extends 'base.html.twig' %}

{% block title %}
    Yes ! Another Weather App !
{% endblock %}

{% block body %}

    <h2 class="text-info text-center">Bienvenue sur la page Météo</h2>
		<p class="big-text text-center">A <span class="text-info">{{location}}</span>, il fait actuellement {{ data["temperature"] }}°C et le vent souffle à {{ data["vent"]}}Km/h</p>
		<h3 class="text-center mb-3">Vous pouvez aussi chercher votre météo locale !</h3>
		<div id="form"></div>

{% endblock %}