{% extends 'base.html.twig' %}

{% block title %}
    Congrats, you just searched and got results !
{% endblock %}

{% block body %}

		<p class="big-text text-center">Vous avez cherché la météo de <span class="text-info">{{location}}</span>, il y fait actuellement {{ data["temperature"] }}°C et le vent souffle à {{ data["vent"]}}Km/h</p>
		<h3 class="text-center mb-3">Demandez la météo d'une autre ville</p>
		<div id="form"></div>

{% endblock %}